<form method="POST", action="/comments/<%= comment.id %>/?_method=PUT">
    <textarea type="text" id="rawgId" name="rawgId" hidden><%= rawgId %></textarea>
    <textarea type="text" id="rawgGame" name="rawgGame" hidden><%= rawgGame %></textarea>
    <textarea type="text" id="description" name="description" required></textarea>
    <input type="submit">
</form>