<h1>cheapEgames</h1>
<h2>Games You Like</h2>
<h2>At Prices You'll Love</h2>

<form method="GET" action="/results">
    <input id="search" type="text" name="search" placeholder="Genre" required />
    <button type="Submit">Search</button>
</form>

<hr>

<% rawgInfo.forEach(result => { %>
    <div>
        <img src="<%= result.background_image %>" style="max-width: 200px;" />
    </div> 
    <div>
        <a style='color:white;' href="/"><%= result.name %></a>
        <a style='color:white;' href='https://www.cheapshark.com/api/1.0/games?id=<%= result.id %>&limit=1'>Information/Deal</a>  
    </div>
<% }) %>