<h1>cheapEgames</h1>
<h2>Games You Like</h2>
<h2>At Prices You'll Love</h2>

<form method="GET" action="/results">
    <input id="search" type="text" name="search" placeholder="Genre" required />
    <button type="Submit">Search</button>
</form>

<% gameNameArr.forEach(name => { %>
    <p><%= name %></p>
<% }) %>