<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cheapEgames</title>
</head>
<body style="background-color:rgb(45, 45, 45); color:white;">
    <nav>
        <ul>
            <a style='color:white;' href="/">Home/Search</a>

            <!-- if user is logged in -->
            <% if (user) { %>
                <a style='color:white;' href="/users/profile">Profile</a>
                <a style='color:white;' href="/users/logout">Logout</a>
            <% } else { %>
                <a style='color:white;' href="/users/new">Sign up</a>
                <a style='color:white;' href="/users/login">Login</a>
            <% } %>
        </ul>
    </nav>
    
    <%- body %>
</body>
</html>